[submodule "edge-client-agent"]
	path = edge-client-agent
	url = https://github.com/itrix-edge/edge-client-agent
[submodule "pre-setup"]
	path = pre-setup
	url = https://github.com/itrix-edge/pre-setup
[submodule "k8s-device-plugin"]
	path = k8s-device-plugin
	url = https://github.com/itrix-edge/k8s-device-plugin.git
[submodule "kubespray"]
	path = kubespray
	url = https://github.com/itrix-edge/kubespray.git
[submodule "metallb"]
	path = metallb
	url = https://github.com/itrix-edge/metallb.git
