[Unit]
Description=DNN Storage API Service

[Service]
Restart=always
ExecStart=/usr/lib/dnn-storage-server/dnn-storage-server -logpath=/nfs/logs
ExecStop=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target